@(emailARForm: Form[models.EmailARFormData],emailARs : Seq[models.EmailAR])(implicit request: RequestHeader)
  @main("Play 2.7 + Slick 4.0.0 example") {

    <form id="emailAR-data-form" role="form" action='@routes.ApplicationController.addEmailAR()' method="post" class="form-horizontal" align="center" autocomplete="off">

      <fieldset class="emailAR-fieldset">

        <div class="emailAR-form">
          <label class="form-title" style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">title</label>
        </div>
        <br/>
        <table align="center" cellspacing="20">
          <tr>
            <td align="left">
              <div class="emailAR-form" id="roleName_field_label">
                <div class="controls col-xs-offset-3 col-xs-9">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-emailAR"></span></span>
                    <strong>roleName</strong> :
                  </div>
                </div>
              </div>
            </td>
            <td align="center">
              <div class="emailAR-form" id="roleName_field_value">
                <div class="controls col-xs-offset-3 col-xs-9">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-emailAR"></span></span>
                    <input type="text" id="roleName" name="roleName" value="" placeholder="Role Name" class="form-control input-lg" required>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td align="left">
              <div class="emailAR-form" id="crewName_field_label">
                <div class="controls col-xs-offset-3 col-xs-9">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-emailAR"></span></span>
                    <strong>crewName</strong> :
                  </div>
                </div>
              </div>
            </td>
            <td align="center">
              <div class="emailAR-form" id="crewName_field_value">
                <div class="controls col-xs-offset-3 col-xs-9">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-emailAR"></span></span>
                    <input type="text" id="crewName" name="crewName" value="" placeholder="Crew Name" class="form-control input-lg" >
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td align="left">
              <div class="emailAR-form" id="email_field_label">
                <div class="controls col-xs-offset-3 col-xs-9">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-emailAR"></span></span>
                    <strong>email</strong> :
                  </div>
                </div>
              </div>
            </td>
            <td align="center">
              <div class="emailAR-form" id="email_field_value">
                <div class="controls col-xs-offset-3 col-xs-9">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-emailAR"></span></span>
                    <input type="email" id="email" name="email" placeholder="Email" class="form-control input-lg" required>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
          <button type="submit" class="btn btn-primary ynt-btn-orange">Add</button>
        </div>

      </fieldset>
    </form>

    <div class="emailAR-display" >
      <fieldset>
        <legend align="center"><h3>Registered EmailARs</h3></legend>
        <table cellspacing="20">
          <tr>
            <th>emailARid</th>
            <th>roleName</th>
            <th>crewName</th>
            <th>email</th>
          </tr>
          @for(emailAR <- emailARs){
            <tr>
              <td>@emailAR.id</td>
              <td>@emailAR.roleName</td>
              <td>@emailAR.crewName</td>
              <td>@emailAR.email</td>
              <td><a href="@routes.ApplicationController.deleteEmailAR(emailAR.id)">delete</a></td>
            </tr>
          }
        </table>
      </fieldset>
    </div>

    <div class="mail-search" >
      <fieldset>
        <legend align="center"><h3>Mails of Role</h3></legend>
        <div class="emailAR-form" id="roleName_field_value">
            <div class="controls col-xs-offset-3 col-xs-9">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-emailAR"></span></span>
                <input type="text" id="roleName" name="roleName" value="" placeholder="Role Name" class="form-control input-lg" required>
              </div>
            </div>
          </div>
        <table cellspacing="20">
          <tr>
            <th>emailARid</th>
            <th>roleName</th>
            <th>crewName</th>
            <th>email</th>
          </tr>
          @for(emailAR <- emailARs){
            <tr>
              <td>@emailAR.id</td>
              <td>@emailAR.roleName</td>
              <td>@emailAR.crewName</td>
              <td>@emailAR.email</td>
            </tr>
          }
        </table>
      </fieldset>
    </div>

  }